services:
  eecfin:
    container_name: eecfin-web
    build:
      context: .
      args:
        - PORT=${PORT:-8082}
    restart: no #unless-stopped
    ports:
      - "${PORT:-8082}:${PORT:-8082}"
    environment:
      - HOST=0.0.0.0
      - PORT=${PORT:-8082}
    #networks:
    #  - nginx_proxy
    volumes:
      - ./:/app       # Mount your code from host
      - /app/node_modules   # Prevent overwriting container's node_modules
   
    

#networks:
 # nginx_proxy:
  #  external: true 
 