services:
  eecfin:
    container_name: eecfin-web
    build:
      context: .
    restart: no #unless-stopped
    #ports:
    #  - "8080:8080sss"
    environment:
      - HOST=0.0.0.0
    #networks:
    #  - nginx_proxy
    volumes:
      - ./:/app       # Mount your code from host
      - /app/node_modules   # Prevent overwriting container's node_modules
   
    

#networks:
 # nginx_proxy:
  #  external: true 
 