services:
  eecfin:
    container_name: eecfin-web-prd
    build:
      context: .
      args:
        - PORT=${PORT:-8082}
    restart: unless-stopped
    ports:
      - "${PORT:-8082}:${PORT:-8082}"
    environment:
      - HOST=0.0.0.0
      - PORT=${PORT:-8082}
      #- VIRTUAL_HOST=eecfin.org
      #- VIRTUAL_PORT=8080
      #- LETSENCRYPT_HOST=eecfin.org 
      #- LETSENCRYPT_EMAIL=eecfin.admin@eecfin.org 
     # - CHOKIDAR_USEPOLLING=true
    networks:
      - supabase_default
    volumes:
      - ./:/app       # Mount your code from host
      - /app/node_modules   # Prevent overwriting container's node_modules
   
networks:
  supabase_default:
    external: true 
 